<h1 class="section-title">Featured</h1>

<div class="bg-white grid grid-rows-2 grid-cols-3 p-1 my-2 rounded-lg mx-4">
	{{#each featured}}
	<a href="/projects/{{this.name}}"
		class="relative rounded-lg text-left bg-gray-100 my-2 p-0 mx-4 text-center hover:bg-green-200 default-font">
		<h3 class="font-bold">{{this.title}}</h3>
		<p>{{this.description}}</p>
	</a>
	{{/each}}
</div>

<h1 class="section-title">Random Project</h1>
<div class="flex">
	<a href="/projects/random" class="m-auto text-center rounded-lg w-1/4 p-4 m-2 bg-green-500 hover:bg-green-400">
		<svg height="25" width="25" viewBox="0 0 20 20" class="m-auto">
			<path fill="white" d="M17 10 L0 0 L0 20 z" />
		</svg>
	</a>
</div>

<h1 class="section-title">All Projects</h1>
{{#each projects}}
<div class="relative rounded-lg text-left bg-gray-100 my-2 p-0 mx-4">
	<div class="flex-initial m-0 w-5/6 left-0 p-2 default-font">
		<h3 class="font-bold">{{this.title}}</h3>
		<p>{{this.description}}</p>
	</div>
	<a href="/projects/{{this.name}}"
		class="bg-green-500 w-1/6 absolute right-0 top-0 h-full rounded-tr-lg rounded-br-lg flex hover:bg-green-400">
		<svg height="25" width="25" viewBox="0 0 20 20" class="m-auto">
			<path fill="white" d="M17 10 L0 0 L0 20 z" />
		</svg>
	</a>
</div>
{{/each}}