<title>piman.dev | {{{project.title}}}</title>

{{#if dependencies.jquery}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{/if}}

{{#if dependencies.mathjax}}
<script>
	MathJax ={
		tex: {
			inlineMath: [['$', '$']],
			processEscapes: true
		}
	}
</script>
<script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{/if}}

<div class="bg-white rounded-b-lg text-center 
default-font">
	<h1 class="text-4xl font-bold">{{{project.title}}}</h1>
	<p class="text-base">{{{project.description}}}</p>
	<p class="text-sm text-gray-500">Created {{{project.created}}}</p>
</div>
<div class="m-1">
	{{{contents}}}
</div>