<title>piman.dev | {{{project.title}}}</title>

{{#if dependencies.jquery}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{/if}}

<div class="bg-white rounded-b-lg text-center 
default-font">
	<h1 class="text-4xl font-bold">{{{project.title}}}</h1>
	<p class="text-base">{{{project.description}}}</p>
	<p class="text-sm text-gray-500">Created {{{project.created}}}</p>
</div>
<div class="m-1">
	{{{contents}}}
</div>